
      


    $color-primary-light: #FF9800;
    $color-primary-mid: #dc7c00;
    $color-primary-dark: #8f3d00;
    $color-green-light: #4CAF50;
    $color-green-dark: #005100;

    // TEXT

    $color-text-1: #333333;
    $color-text-2: #5c5c5c;
    $color-bg-1: #f5f5f5;
    $color-bg-2: #ebebeb;
    $color-bg-3: #c2c2c2;



